

<div class="container-fluid">
    <div class="hero-unit">
      <%= form_tag( home_searchplace_path,  :method => :get) do |f| %>
          <%= label_tag("Want to explore?") %>
          <%= search_field_tag("search", "city, sight", :class=>"search-query") %>
          <%= submit_tag("search", :class=>"btn btn-inverse") %>
      <% end %>
    </div>
</div>

<div class="container-fluid muted">
  <hr>
    <div class="row">
        <div class="span3">About</div>
        <div class="span3">Help</div>
        <div class="span3">More</div>
    </div>
</div>




