<div class="navbar navbar-inverse navbar-fixed-top" >
  <div class="navbar-inner">
    <div class ="container">
        <a class="brand" href="#"> Macro Polo</a>
    </div>
  </div>
  <!--/.nav-collapse -->
</div>

<div class="container">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="hero-unit">
        <p>Want to explore? </p>
        <form class="modal-form">
            <input class="span7" type="text" placeholder="city. sight...">
            <button class="btn btn-primary btn-primary">Search</button>
        </form>
    </div>
    <hr>
    <footer class="">
        <div class="row">
            <div class="span3">resource</div>
            <div class="span3">support</div>
            <div class="span3">about us</div>
        </div>
   </footer>
</div>
